<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/feedstyle.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MecW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static',filename='scripts/feed.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/57d9119a00.js" crossorigin="anonymous"></script>
  <title>Flask Overflow</title>
</head>

<body class="bg-light">
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Flask Overflow</span>
    <ul class="nav nav-pills">
      <li class="nav-item me-5">
        <h4 id="user-profile" class="text-white"></h4>
      </li>
      <li class="nav-item me-1">
        <a class="nav-link active nav-link-selected" onclick="route('/feed')">Feed Page</a>
      </li>
      <li class="nav-item me-1">
        <a class="nav-link active" onclick="route('/ask-question')">Ask Question</a>
      </li>
      <li class="nav-item me-1">
        <a class="nav-link active" onclick="logout()">Logout</a>
      </li>
    </ul>
  </nav>
  <div id="feed-container" class="container">
    <div class="d-flex justify-content-center row my-5">
      <div class="col-8">
        <div class="d-flex justify-content-between">
          <div>
            <h2>
              Recent Questions
            </h2>

            <div class="d-flex">
              <input class="form-control mr-3" id="search-box" placeholder="Search Questions">
              <button class="btn btn-primary" style="height: 38px;" onclick="searchQuestion()"><i
                  class="fas fa-search"></i></button>
              <button class="btn btn-primary ml-3" style="height: 38px;" onclick="route('/feed')">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>