<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/viewquestion.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/57d9119a00.js" crossorigin="anonymous"></script>
    <title>Flask Overflow</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">Flask Overflow</span>
        <ul class="nav nav-pills">
            <li class="nav-item me-1">
                <a class="nav-link active" onclick="route('/feed')">Feed Page</a>
            </li>
            <li class="nav-item me-1">
                <a class="nav-link active" onclick="route('/ask-question')">Ask Question</a>
            </li>
            <li class="nav-item me-1">
                <a class="nav-link active" onclick="logout()">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="m-4">
                    <h1 class="question-title">Loading...</h1>
                    <hr>
                    <span><em class="q-timestamp">Loading...</em></span>
                </div>
                <div class="card">
                    <div class="card-body" style="background-color: #fff;">
                        <span class="d-flex justify-content-between mb-2">
                            <h6 id="user-asks"></h6><span><button id="edit-button" class="btn btn-secondary mr-3"
                                    style="display: none;">Edit <i class="fas fa-edit"></i></button><button
                                    id="delete-button" class="btn btn-danger" style="display: none;">Delete <i
                                        class="fas fa-trash-alt"></i></button>
                                <button id="report-button" class="btn btn-danger">Report <i
                                        class="fas fa-flag"></i></button>
                            </span>
                        </span>
                        <hr class="mt-0 mx-n3">
                        <p id="question-body">
                            loading...
                        </p>
                    </div>
                    <!-- <div class="pl-5">
                        <h6 class="mb-n2">Replies</h6>
                        <hr>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit facere
                                voluptatem
                                esse
                                expedita non odio voluptas quos dolore vel, eos unde, maxime sequi quisquam
                                eligendi,
                                cumque itaque
                                officiis distinctio?</p>
                        </div>
                        <hr>
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit facere
                                voluptatem
                                esse
                                expedita non odio voluptas quos dolore vel, eos unde, maxime sequi quisquam
                                eligendi,
                                cumque itaque
                                officiis distinctio?</p>
                        </div>
                    </div> -->
                    <div class="d-flex justify-content-center p-2">
                        <span id="question-like">
                            <button class="btn btn-primary mr-3"><i class="fas fa-heart"></i></button>
                            <span style="height: 20px;" class="badge badge-primary mr-4">
                                <p></p>
                            </span>
                        </span>
                        <span id="question-dislike">
                            <button class="btn btn-primary mr-3"><i class="fas fa-heart-broken"></i></button>
                            <span style="height: 20px;" class="badge badge-primary mr-4">
                                <p></p>
                            </span>
                        </span>
                        <span id="question-cry">
                            <button class="btn btn-primary mr-3"><i class="fas fa-sad-tear"></i></button>
                            <span style="height: 20px;" class="badge badge-primary mr-4">
                                <p></p>
                            </span>
                        </span>
                        <span id="question-angry">
                            <button class="btn btn-primary mr-3"><i class="fas fa-angry"></i></button>
                            <span style="height: 20px;" class="badge badge-primary mr-4">
                                <p></p>
                            </span>
                        </span>
                        <span id="question-laugh">
                            <button class="btn btn-primary mr-3"><i class="fas fa-laugh-beam"></i></button>
                            <span style="height: 20px;" class="badge badge-primary mr-4">
                                <p></p>
                            </span>
                        </span>
                    </div>
                </div>

                <div class="mt-5" id="answer-container">

                    <!-- <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">User#2</div>
                                <div class="col-4 text-end">Timestamp</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card mt-0">
                                <div class="card-body" style="background-color: rgba(73, 167, 86, 0.329);">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic nesciunt esse fuga
                                    harum consequatur,
                                    officia soluta unde, consectetur facilis culpa ipsum corrupti voluptates nostrum
                                    asperiores porro
                                    fugiat animi deserunt adipisci.
                                </div>
                            </div>
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-a-headingOne">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-a-collapseOne">
                                            Reply #1
                                        </button>
                                    </h2>
                                    <div id="flush-a-collapseOne" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
                                                odit facere voluptatem esse
                                                expedita non odio voluptas quos dolore vel, eos unde, maxime sequi
                                                quisquam eligendi, cumque
                                                itaque officiis distinctio?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="fixed-bottom m-2" style="text-align: right;">
        <a data-toggle="collapse" id='bottom-arrow' href="#collapse1"><i class="fas fa-arrow-circle-up"></i></a>
    </div>
</body>
<footer>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="fixed-bottom px-5 pb-5 bg-dark">
            <div class="d-flex justify-content-end py-1 pr-2 mr-n5">
                <a data-toggle="collapse" id='top-arrow' href="#collapse1"><i
                        class="fas fa-chevron-down text-white p-2 btn-answer"></i></a>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Answer me!" id="answer-question"
                    style="height: 100px"></textarea>
                <label for="answer-question">Answer the issue!</label>
                <button class="btn btn-primary mt-1" id="submit-answer">Answer <i
                        class="fas fa-pencil-alt"></i></button>
            </div>
        </div>
    </div>
</footer>
<script>
    $('#top-arrow').fadeOut();
    $('#bottom-arrow').on("click", function () {
        $('#top-arrow').fadeIn();
    });
    $('#top-arrow').on("click", function () {
        $('#top-arrow').fadeOut();
    });
</script>

</html>