<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{ url_for('static',filename='scripts/index.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>3155-Q-A-Project</title>
</head>

<body class="bg-light">
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">3155-Q-A-Project</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="h-100px card">
                    <h1>
                        Hello and welcome to bootstrap!
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="h-100px card">
                    <p>
                        This is an auto-column, these 3 columns are on the same row
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="h-100px card">
                    <p>
                        Same row, column 2
                    </p>
                </div>
            </div>
            <div class="col">
                <div class="h-100px card">
                    <p>Same row, column 3</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="h-100px card">
                    <p>These are columns with a width set to 6</p>
                </div>
            </div>
            <div class="col-6">
                <div class="h-100px card">
                    <p>Bootstrap sets column width by col-1, col-2, col-3, ...col-12</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="h-100px card">
                    <p>Typical placement involves a container -> row -> column</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>